src/ConsoleDataCollector/bin/
src/ConsoleDataCollector/obj/
src/SidWatchLibrary/bin/
src/SidWatchLibrary/obj/
src/SidWatchManager/bin/
src/SidWatchManager/obj/
src/SidWatchAudioLibrary/bin/
src/SidWatchAudioLibrary/obj/
src/SidWatchManager/packages/
src/SidWatchCollectionLibrary/bin/
src/SidWatchCollectionLibrary/obj/
src/SidWatchLibraryTests/bin/
src/SidWatchLibraryTests/obj/
